<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user %>
    <% if current_user.tree.present? %>
        <%= link_to "view my Tree", current_user.tree%>
    <% else %>
        <%= link_to "Create your own Link Tree  ", new_tree_path, target: "_blank" %>
    <% end%>
<% else %>
    <%= link_to "Create your own Link Tree  ", new_user_registration_path, target: "_blank" %>
<% end %>